<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project</title>
    <link rel="stylesheet" href="/projects.css">
</head>

<body>
    <div class="header">
        <img src="/main.png" alt="">
        <ul>
            <li><a href="/projects/new">Add Project</a></li>
            <li><a href="">Edit Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <h1>Welcome, <%= userEmail %>
    </h1>

    <div class="container">
        <h1>Projects</h1>

        <div class="columns-wrapper">
            <div class="column">
                <span class="column-icon">⭐</span>
                <span class="column-title">All projects</span>
                <% all_projects.forEach(project=> { %>
                    <div class="project-card">
                        <div class="card-header">
                            <div>
                                <h2>
                                    <%= project.name %>
                                </h2>
                                <div class="card-header-info">
                                    <i class="fas fa-pen"></i>
                                    <span>
                                        <%= userEmail %>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3>
                                <%= project.description %>
                            </h3>
                        </div>

                        <div class="card-footer">
                            <div class="stats">
                                <div class="stat-item">
                                    <span class="stat-icon">👥</span>
                                </div>
                                <div class="stat-item">
                                    <span class="stat-icon">📁</span>
                                    <span class="stat-number">0</span>
                                </div>
                                <div class="stat-item">
                                    <span class="stat-icon">💬</span>
                                    <span class="stat-number">0</span>
                                </div>
                            </div>
                            <input type="hidden" id="<%= project.id %>" name="postId" value="34657" />

                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="column">
                <span class="column-icon">✏️</span>
                <span class="column-title">Created by me</span>
                <% projects.forEach(project=> { %>
                    <div class="project-card">
                        <div class="card-header">
                            <div>
                                <h2>
                                    <%= project.name %>
                                </h2>
                                <div class="card-header-info">
                                    <i class="fas fa-pen"></i>
                                    <span>
                                        <%= userEmail %>
                                    </span>
                                </div>
                            </div>
                            <div class="settings-icon">
                                <a href="/projects/edit/<%= project.id %>">⚙️</a>
                            </div>
                        </div>

                        <div class="card-body">
                            <h3>
                                <%= project.description %>
                            </h3>
                        </div>

                        <div class="card-footer">
                            <div class="stats">
                                <div class="stat-item">
                                    <span class="stat-icon">👥</span>
                                </div>
                                <div class="stat-item">
                                    <span class="stat-icon">📁</span>
                                    <span class="stat-number">0</span>
                                </div>
                                <div class="stat-item">
                                    <span class="stat-icon">💬</span>
                                    <span class="stat-number">0</span>
                                </div>
                            </div>
                            <input type="hidden" id="<%= project.id %>" name="postId" value="34657" />
                            <form id="deleteForm-<%= project.id %>" action="/projects/delete/<%= project.id %>"
                                method="POST">
                                <button type="button" class="text-btn deleteButton" data-project-id="<%= project.id %>">
                                    <i class="fas fa-trash">❌</i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <% }) %>
            </div>

            <div class="column">
                <span class="column-icon">👥</span>
                <span class="column-title">Shared with me</span>
            </div>
        </div>
    </div>

    <!-- ///// Modal window -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p>Are you sure?</p>
            <div class="modal-buttons">
                <button class="yes" id="yesBtn">Yes</button>
                <button class="no" id="noBtn">No</button>
            </div>
        </div>
    </div>
    <script src="/script.js" defer></script>
</body>

</html>